body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    position: relative;
    margin-top: 5%;
}

h1 {
    display: inline-block;
    margin: 0;
    position: relative;
    z-index: 1;
}

h2 {
    margin: 1rem;
}

p {
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    line-height: 1.6;
    color: #333;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    padding: 20px;
}

header {
    background-color: #fff;
    color: #333;
    text-align: center;
    padding: 1rem;
}

.headerContent {
    text-align: center;
}

.villainDescription {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 20px;
    line-height: 1.5;
    color: #4a4a4a;
    padding: 20px;
    border: 2px dashed #4a4a4a;
    border-radius: 5px;
    background-color: #ffeaa7;
    text-align: justify; 
    max-width: 800px; 
    margin: 0 auto; 
}
.contentEmbeddedVideo {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.responsiveIframe {
    width: 560px;
    height: 315px;
    border: none;
}

button:hover {
    background-color: #555;
}

.screenChangeButton {
    font-size: 1.5rem;
    padding: 1rem 2rem;
    background-color: #f77c33;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

#startBtn:hover {
    background-color: #e56b23;
}

.hidden {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}


.playerOptions img {
    width: 100%;
    height: auto;
}

.customButton {
    width: 15%;
    background: none;
    border: 2px solid transparent;
    padding: 0;
    margin: 0;
    border: none;
    cursor: pointer;
    outline: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, box-shadow 0.2s;
}

.customButton:focus {
    outline: none;
    border: 2px solid #007bff;
}

.villainOptions img {
    width: 15%;
    height: auto;
    margin: 2%;
}

.singleImage {
    width: 50%;
    height: auto;
    justify-items: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

#pidgeon,
#evilDie {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    height: auto;
}

#cheatSheet {
    display: block;
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    width: 10%;
    height: auto;
    z-index: 0;
}

#playerChoiceImages,
#roundTwoPlayerChoiceImages {
    text-align: center;
}

#playerChoiceImages .singleImage,
#roundTwoPlayerChoiceImages .singleImage {
    width: 20%;
    height: auto;
    margin: auto;
}

@media (max-width: 930px) {
    #cheatSheet {
        position: static;
        transform: none;
        margin-top: 1rem;
        margin-left: auto;
        margin-right: auto;
        width: 20%;
    }

    #pidgeon,
    #evilDie {
        display: none;
    }

    p {
        font-size: 2rem;
    }

    #gameStatus {
        font-size: 2rem;
    }
    #roundTwoGameStatus {
        font-size: 2rem;
    }
}